section.approach
    .container
        .title.title--with-bottom-line
            h2.title.title__header Our Approach
            .title__text Check Our approach step by step ( how we do it )

        ul.approach__list
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-1.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 1 : Heading Here
                    p.approach__description.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-2.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 2 : Heading Here
                    p.approach__description.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-3.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 3 : Heading Here
                    p.approach__description.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            li.approach__item
                .approach__image
                    img.approach__picture(src="../images/step-4.jpg" alt="picture")
                    .approach__step step
                .approach__text
                    .approach__title Step 4 : Heading Here
                    p.approach__description.
                        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                        voluptate velit esse cillum dolore eu fugiat nulla pariatur.